@{
    ViewBag.Title = "Наши контакты";
}
<h2 style="color:darkblue">@ViewBag.Title.</h2>
<h3 style="color: white">@ViewBag.Message</h3>

<address style="color: white">
    191186, Санкт-Петербург, Невский пр., 40<br />
 </address>

<img src="~/Image/Карта.jpg" alt="Mountain View" width="600" height="300" />
<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com" style="color:darkblue">Support@example.com</a><br />
    <strong>Сотрудничество:</strong> <a href="mailto:Marketing@example.com" style="color:darkblue">Marketing@example.com</a>
</address>