@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: lightblue">
    <h1 align = "center" style="color:darkblue">Hott!</h1>
    <p class="lead" style="color:darkblue"> Поиск билетов на увлекательные шоу программы, спектакли, концерты. Порадуй себя и погрузись в мир волшебства.</p>
    <span><img src="~/Image/smile.jpg" width="120" height="100" style="background-color: lightblue;"/></span>
    </div>

<div class="row">
    <div class="col-md-4">
      <img src="~/Image/marsh.jpg" alt="Mountain View" width="200" height="200" />
         </div>
    <div class="col-md-4">
        <img src="~/Image/m66Ynz4WxuIs_idCqKWtMrzjq6ETNp72.jpg" alt="Mountain View" width="200" height="200" />
    </div>
    <div class="col-md-4">
        <img src="~/Image/TaMWTio23iYoR67LVkpTy9sZTqlBLNmw.jpg" alt="Mountain View" width="200" height="200" />
    </div>
</div>